@charset "UTF-8";


#wrap {
	width: 1000px;
	margin: 0 auto;
	font-weight: 400;
	background-color: #fff;
	border-left: 1px solid black;
	border-right: 1px solid #000;

}

.line {
	background-color: #0E5CA5;
}

.home {
	width: 330px;
	height: 80px;

}

.home>img {
	width: 100%;
	height: 100%;
}